version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app

  nats:
    image: nats:2.10-alpine
    ports:
      - "4222:4222"
      - "8222:8222" # NATS monitoring port
    command: -js # Enable JetStream

  scylla:
    image: scylladb/scylla
    ports:
      - "9042:9042"
    volumes:
      - scylla-data:/var/lib/scylla

volumes:
  scylla-data:
